.loadingContainer {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 1.8775rem rgb(0 0 0/6%);
  background-image: url("../assets/eatableimage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circumference {
  padding-top: 2rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #ff240c;
  border-top-color: transparent;
  border-radius: 50%;
  margin-top: 1.25rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18.75rem;
  width: 18.75rem;
  height: 18.75rem;
  border-color: white;
  box-shadow: 0rem 10px 3.125rem 0rem rgba(0, 0, 0, 0.15);
  background-color: white;
}
